/*global*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
a{
    color: #c51a1a;
}
h2, h3{
    color: #c51a1a;
}
button{
    padding: 12px;
    border-radius: 10px;
    background-color: #c51a1a;
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: background-color .5s;
}
button:hover{
    background-color: #252525;
    transition: background-color .5s;
}
input{
    padding: 12px;
    border-radius: 10px;
}
/*nav*/
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
header img{
    width: 10vh;
}
header ul.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header ul.nav li{
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    transition: background-color .5s;
}
header section{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .nav li:hover{
    border-radius: 15px;
    background-color: #252525;
    transition: background-color .5s;
}
header .nav li a:hover{
    color: white;
}
/*contenido-1*/
.contenido-1 h2{
    text-align: center;
}
.sub-contenido-1-servicio{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
}
.sub-contenido-1-servicio section{
    width: 50vh;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

.sub-contenido-1-servicio section img{
    width: 100%;
    border-radius: 15px;
}
.img-hover{
    position: relative;
}
.contenido-hover{
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 15px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px;
    background-color: rgb(197, 26, 26, .5);
}
.contenido-hover:hover{
    opacity: 1;
    transition: opacity .5s;
}
/*contenido-2*/
.contenido-2 h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.contenido-2-nav{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contenido-2-nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.sub-contenido-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}
.sub-contenido-2-servicio{
    width: 25vh;
    text-align: center;
}
.sub-contenido-2-servicio img{
    width: 90%;
}
.modal{
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgb(37, 37, 37, .5);
}
.modal-contenido{
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
    max-width: 300px;
    min-width: 250px;
    margin: auto;
    border-radius: 15px;
    background-color: white;
}
.modal-contenido img{
    width: 90%;

}
.modal-contenido button{
    width: 50%;
}
.mostrar-modal{
    opacity: 1;
    transition: opacity .5s;
    pointer-events: unset;
}
.formulario-datos{
    color: black;
    text-align: justify;
}


/*footer*/
footer{
    background-color: #252525;
    color: white;
}
footer h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
}
.formulario section{
    color: #c51a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.formulario section textarea{
    border-radius: 10px;
    text-align: justify;
    width: 180px;
    height: 100px;
    max-width: 200px;
    max-height: 200px;
}
.footer-secciones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-seccion-1, .footer-seccion-2{
    width: 25vh;
    text-align: justify;
    padding: 20px;
}
.iconos{
    width: 50vh;
    text-align: center;
}
.iconos h3{
    margin-bottom: 30px;
}
.iconos i{
    font-size: 30px;
    padding: 20px;
}